<%= form_for(@list) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :items %><br />
    <%= f.number_field :items %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
