<%= form_for [@list, @task] do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br />
    <%= f.text_field :deadline %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
