<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Deadline:</b>
  <%= @task.deadline %>
</p>


<%= link_to 'Edit', [:edit, @list, @task] %> |
<%= link_to 'Back', list_task_path %>
